{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myApp/styles.css' %}">
    <title>Helloooo</title>
</head>
<body>
    <h1>hello {{name}}, welcome to Django!!!!</h1>
    {% if has5letters %}
        <h2>Your Name exactly contains 5 letters!!</h2>
    {% else %}
        <h2>Your Name doesn't exactly contains 5 letters!!!</h2>
    {% endif %}
</body>
</html>