{% load static %}
{% for post in page_obj %}

<div class="post">
    <h5><a href="{% url 'userProfile' post.creator.username %}">{{post.creator}}</a>: <div class="post-content-{{post.id}}">{{post.postContent}}</div>
    </h5>
    <p>{{post.created_at}}</p>
    {% if user.is_authenticated %}
    {% if user in post.liked_by.all %}
    <button class="like-button" data-like="false" data-postid="{{post.id}}">remove like</button>
    {% else %}
    <button class="like-button" data-like="true" data-postid="{{post.id}}">add like</button>
    {% endif %}

    {% if post.creator == user %}
    <button class="edit-post-button" id="edit-post-button-{{post.id}}" data-postid="{{post.id}}">Edit Post</button>
    {% endif %}

    {% endif %}
    <p>
    <div class="like-count-{{post.id}}">{{post.liked_by.count}}</div> Like(s)</p>
</div>

{% empty %}

<div>No Posts.</div>

{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<script src="{% static 'network/posts.js' %}"></script>