{% extends "network/layout.html" %}
{% load static %}


{% block body %}

{% if userData.profile_picture %}
    <img src="{{userData.profile_picture.url}}" alt="{{userData.username}}" >
{% else %}
    <img src="{% static 'network/defaultUserProfilePic.jpg' %}" alt="{{userData.username}}" >
{% endif %}

<h1>{{userData.username}}</h1>
<h3>Follower: {{userData.followers.count}} | Following: {{userData.following.count}}</h3>

{% if user.is_authenticated and user != userData %}
    <form method="post" action="{% url 'follow' %}">
        {% csrf_token %}
        <input type="hidden" name="user2ID" value="{{userData.id}}">
        {% if user in userData.followers.all %}
            <input type="submit" value="unfollow">
            <input type="hidden" name="toFollow" value="0">
        {% else %}
            <input type="submit" value="follow">
            <input type="hidden" name="toFollow" value="1">
        {% endif %}
    </form>

{% endif %}

<h1>Posts by {{userData.username}}</h1>

{% include 'network/posts.html' %}

<!-- <script>
    {% comment %} document.addEventListener('DOMContentLoaded', function(){
        document.querySelector(".follow-button").onclick = function(){
            fetch('/follow', {
                method:'PUT',
                body: JSON.stringify({
                    user1ID: {{user.id}},
                    user2ID: {{userData.id}},
                    toFollow: (this.dataset.action === "follow" ? 1 : 0)
                })
            })
            .then(response => {
                console.log(response);
            });
        }
    }); {% endcomment %}
</script> -->

{% endblock %}