{% extends 'encyclopedia/layout.html' %}

{% block title %}
    Create New Page
{% endblock %}

{% block style %}
<style>
    body form div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
</style>
{% endblock %}


{% block body %}
<!-- <h1>Create New Page</h1> -->
<h1>{{ pageTitle }}</h1>
<form action="{% url 'encyclopedia:createNewPage' %}" method="post">
    {% csrf_token %}
    {{newPageForm}}
    <h5 class="text-danger">{{errorMessage}}</h3>
    <input type="submit" value="Save">
</form>

{% endblock %}